:root {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Roboto';
}

header {
  width: 100%;
  height: 3em;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header ul {
  height: 100%;

  margin: 0;
  margin-right: 10%;

  padding: 0;

  list-style: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;

  font-family: 'Fredoka';
  font-weight: 500;
  font-size: 1.2em;
}

header ul li {
  margin-right: 30%;

  transition: padding-top 200ms ease-in-out;
}

header ul li:hover {
  padding-top: 5%;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a {
  all: unset;
}

section {
  min-height: 100vh;
}

section:not(.visible) {
  display: none;
}

#background {
  position: fixed;
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(-25deg, #1913b7, #e83232);

  animation: open 1s forwards linear;

  z-index: -1;
}

@keyframes open {
  from {
    clip-path: polygon(55% 0%, 55% 0%, 45% 100%, 45% 100%);
  }

  to {
    clip-path: polygon(0% 0%, 110% 0%, 100% 100%, -10% 100%);
  }
}

#noscript {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#noscript > span {
  position: absolute;

  z-index: 100;

  box-shadow: 0px 0px 10px red,
              inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  top: 40%;
  left: 0%;

  width: 100%;
  height: 3em;

  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: darkred;
  /*background: linear-gradient(135deg, #bb0 2.5%, #000 2.5%, #000 5%, #bb0 5%, #bb0 7.5%, #000 7.5%, #000 10%, #bb0 10%, #bb0 12.5%, #000 12.5%, #000 15%, #bb0 15%, #bb0 17.5%, #000 17.5%, #000 20%, #bb0 20%, #bb0 22.5%, #000 22.5%, #000 25%, #bb0 25%, #bb0 27.5%, #000 27.5%, #000 30%, #bb0 30%, #bb0 32.5%, #000 32.5%, #000 35%, #bb0 35%, #bb0 37.5%, #000 37.5%, #000 40%, #bb0 40%, #bb0 42.5%, #000 42.5%, #000 45%, #bb0 45%, #bb0 47.5%, #000 47.5%, #000 50%, #bb0 50%, #bb0 52.5%, #000 52.5%, #000 55%, #bb0 55%, #bb0 57.5%, #000 57.5%, #000 60%, #bb0 60%, #bb0 62.5%, #000 62.5%, #000 65%, #bb0 65%, #bb0 67.5%, #000 67.5%, #000 70%, #bb0 70%, #bb0 72.5%, #000 72.5%, #000 75%, #bb0 75%, #bb0 77.5%, #000 77.5%, #000 80%);*/

  border-top: 3px solid red;
  border-bottom: 3px solid red;

  font-family: 'Fredoka';
  font-size: 1.3em;

  color: white;

  text-transform: uppercase full-width;
  letter-spacing: .5em;

  animation: 1s popup 1.2s both;

  user-select: none;
}

@keyframes popup {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}
